// =============================================================================
// Mixins
// =============================================================================

@mixin media-query($device) {
  @if $device == tablet {
    @media screen and (min-width: $tablet-width) {
      @content;
    }
  } @else if $device == desktop {
    @media screen and (min-width: $desktop-width) {
      @content;
    }
  }
}

@mixin transition($properties...) {
  transition-property: $properties;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
